.cart{
  $this: &;

  &__content{
    width: 300px;
    height: 100vh;

    padding: 2rem;

    position: fixed;
    overflow: auto;
    z-index: 2;

    top: 0;
    right: -100%;
    opacity: 0;
    visibility: hidden;

    background-color: #fff;
    transition: .3s ease-in-out;
  }

  &__overlay{
    width: 100%;
    height: 100%;

    left: 0;
    top: 0;
    position: fixed;

    background-color: rgba(#000, .5);
    z-index: 1;
    cursor: pointer;

    visibility: hidden;
    opacity: 0;
  }

  &.opened{
    #{$this} {
      &__content{
        right: 0;
        opacity: 1;
        visibility: visible;
      }

      &__overlay{
        visibility: visible;
        opacity: 1;
      }
    }
  }
}
